py_files/first_submit.csv
py_files/sample_solution.csv
py_files/__pycache__
*.cpython
*.csv
*.npy
*.pth
*.pyc

py_files/hungarian_translate_exp/lip.ipynb
py_files/MLCLIP_exp/__pycache__/MLCLIP_utils.cpython-36.pyc
py_files/different_clip_exp/catboost_info/
